* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #faa702;
    padding: 1rem;
  }
  header, footer {
    text-align: center;
    margin-bottom: 1rem;
  }
  h1 {
    color: #b23ced;
  }
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background: #e3e2e2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  fieldset {
    border: none;
    margin-bottom: 1rem;
  }
  legend {
    font-size: 1.2rem;
    color: #b23ced;
    margin-bottom: 0.5rem;
  }
  .form-item {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input, textarea, select, button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    background-color: #b23ced;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #faa702;
  }
  